<div class="container-fluid">
    <h1>
        <span>P</span>
        <span>R</span>
        <span>I</span>
        <span>C</span>
        <span>E</span>
        <br>
        <span>L</span>
        <span>I</span>
        <span>S</span>
        <span>T</span>
    </h1>
    <div class="row intro">
        <div class="col-md-12 col- 8 typeChoice">
        <button class="btn btn-success"
        (click)="onSelect('insetti')">INSECT LIST</button>    
        <button class="btn btn-primary"
        (click)="onSelect('pesci')">FISH LIST</button>
        </div>
    </div>

</div>

